*.npy filter=lfs diff=lfs merge=lfs -text
logicalTri* filter=lfs diff=lfs merge=lfs -text
*.bingram filter=lfs diff=lfs merge=lfs -text
*.arpa.gz filter=lfs diff=lfs merge=lfs -text
*.binhmm filter=lfs diff=lfs merge=lfs -text
*.hmmdefs filter=lfs diff=lfs merge=lfs -text
binhmm* filter=lfs diff=lfs merge=lfs -text
hmmdefs* filter=lfs diff=lfs merge=lfs -text
